html,body{
  margin:0 auto;
	width:100%;
	height:100%;

}




.main{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  position: relative;
  align-items: center;
  margin: 0 auto;
}

.form{
  width:50%;
  padding: 10px;
  background: #2F3238;
  border-radius: 0.4em;
  border: 1px solid #191919;
  box-shadow:inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0,0,0 ,0.6);


}
.form input[type=text]{
  width: 70%;
  padding:10px 8px;
  font-size: 15px;
  background: linear-gradient(#1f2124, #27292c);
  border: 1px solid deepskyblue;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-radius: 3px;
  color:white;


}
.form input[type=submit]{
  width:20%;
  padding:10px;
  border: 1px solid deepskyblue;
  box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius: 3px;
  background-color: #2F3238;
  cursor:pointer;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
  color: white;

  font-family: 'Krona One', sans-serif;

}


.task-list{
  display: flex;
  width:50%;
  flex-direction: column;

  align-items: center;
  padding: 10px;
  margin: 0;
  background: #2F3238;

  border: 1px solid #191919;
  box-shadow:inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0,0,0 ,0.6);
}
.task-list-item{
  display: flex;
  width: 100%;
  flex-direction: row;

  color:white;
  padding: 10px 0 10px 0 ;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #191919;
  box-shadow:inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0,0,0 ,0.6);


}
.task-text{
  width:100%;
}
.Edit-Delete{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

}
.task-list-item i{
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  color:deepskyblue;



}
#notChecked:hover{
  color:greenyellow
}
#Checked {
  color: greenyellow;
}
#Delete:hover{
  color:red;
}
#Edit:hover{
  color:orange;
}
